h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}
#weatherDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:10px;
    margin: 50px,25px,0px,25px;
    /* margin-bottom: 50px; */
    color: white;
}
#location{
    background-color: rgb(231, 231, 231);
    
}
input{
    color: black;
}
#output{
    display: flex;
    justify-content: space-between;
    color: white !important;
}

#mainDiv {
    margin-top: 100px;
   
    height: 100vh;
}
::placeholder{
    color:rgb(31, 31, 31) !important
}
#weatherInfo{
    /* padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    text-align: center;
}

#getWeather {
    margin-top: 25px;
    background-color: #CCD5AE !important;
    color: black;   
}
#location{
    border-radius: 15px;
    padding-top: 6px;
    color: black;
}
#getWeather:hover {
    background-color: #FAEDCD !important;
}
#weatherInfo:focus {
   outline: none;
}

#ImgDiv{
    position: relative;
    display: inline-block;
}

#temp_icon {
    display: block;
    width: 100%;
}

#location_name{
    position: absolute;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Perfect centering */
    color: white;  /* Adjust text color */
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}