:root {
    --bulma-body-background-color: rgb(252, 252, 240) !important;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}
#feel_like,#wind_mph,#precip{
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 1px solid rgb(95, 95, 95) !important;
}
#humid {
    font-weight: bold;
}
#weatherDiv{
    color: white;
}
#location{
    background-color: rgb(231, 231, 231);
    
}
input{
    color: black;
}
#output{
    margin:55px;
    margin-top: -45px;
    color: white !important;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); */
}
.card{
    padding: 50px;
    background-color: white !important;
    color: black !important;
    box-shadow: none;
}
#mainDiv {
    margin-top: 100px;
    
    height: 100vh;
}
::placeholder{
    color:rgb(31, 31, 31) !important
}
#weatherInfo{
    /* padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    text-align: center;
}

#getWeather {
    margin: 25px;
    background-color: #CCD5AE !important;
    color: black;   
}
#location{
    border-radius: 15px;
    margin: 6px;
    color: black;
}
#getWeather:hover {
    background-color: #FAEDCD !important;
}
#weatherInfo:focus {
    outline: none;
}
section{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1) !important;
}
#ImgDiv{
    position: relative;
    margin:40px;
    display: inline-block;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

#temp_icon {
    border-radius: 5px;
    display: block;
    width: 100%;
}

#location_name{
    position: absolute;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Perfect centering */
    color: white;  /* Adjust text color */
    font-size: 24px;
    font-weight: bold;
    /* Optional: Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}
nav{
    margin-top: 10px;
}

