h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}
#weatherDiv,#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px

}
#output{

    color: white !important;
}
#body{
    background: #faedcd;
}
#mainDiv {
    margin-top: 100px;
    background-color: #faedcd;
    height: 100vh;
}

#weatherInfo{
    background: #d4a373;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

#getWeather {
    margin-top: 25px;
    background-color: #CCD5AE !important;
    color: black;   
}
#location{
    border-radius: 15px;
    padding-top: 6px;
}
#getWeather:hover {
    background-color: #FAEDCD !important;
}
#weatherInfo:focus {
   outline: none;
}

